<html>
<head>
<title>Rubyburgers poetry</title>
<link rel="icon" type="image/png" href="http://rubyburgers.co/favicon.png">
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  img, .container {
    width: 100%;
  }
}
img {
  margin: 20px 0;
  width: 600px;
}
p, h1 {
  font-family: 'Lato', sans-serif;
}
h1 {
  text-align: center;
}
blockquote {
  border-left: 3px solid #de412c;
  padding: 0 0 0 16px;
  margin: 0 0 30px;
}
blockquote p {
  font-size: 20px;
  line-height: 1.55;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18px;
  line-height: 1.72222;
  font-style: italic;
  color: inherit;
}
blockquote small:before {
  content: "";
}
blockquote.pull-right {
  padding-right: 16px;
  padding-left: 0;
  border-right: 3px solid #e7e9ec;
  border-left: 0;
}
blockquote.pull-right small:after {
  content: "";
}
.container {
  width: 600px;
  margin: 0 auto;
}
</style>
</head>
<body>
<div class='container'>
  <img src='http://rubyburgers.co/images/logo.png'/>
  <h1>Rubyburgers poetry</h1>
  <% haikus.each do |haiku| %>
    <blockquote><p><%= haiku %></p></blockquote>
  <% end %>
  <footer>

<div id="fb-root"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="ruby_burgers">Tweet</a>
<!-- Place this tag where you want the share button to render. -->
<div class="g-plus" data-action="share"></div>

<!-- Place this tag after the last share tag. -->
<script type="text/javascript">
  (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
           po.src = 'https://apis.google.com/js/platform.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                 })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=182891501902455";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </footer>
</div>
</body>
</html>
